<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a href="" class="navbar-brand">Sam's Tech Blog</a>
    <div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li>
          <a href="/home" class="nav-link">Home</a>
        </li>
        <li>
          <a href="/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li>
          <a href="/login" class="nav-link">Login/Sign-up</a>
        </li>
        {{!-- {{#if loggedIn}} --}}
        <li>
          <a href="#" class="nav-link" id="logoutBtn">Logout</a>
        </li>
        {{!-- {{/if}} --}}
      </ul>
    </div>
  </div>
</nav>