

<form>
  <div class="mb-3">
    <label for="blogTitleInput" class="form-label">Blog Title</label>
    <input type="text" class="form-control" id="blogTitleInput" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="blogContentInput" class="form-label">Enter Blog Content Here</label>
    <textarea class="form-control" id="blogContentInput" rows="5"></textarea>
  </div>
  
  <button type="submit" id="blogPostSubmit" class="btn btn-primary">Submit</button>
</form>

<script src="./js/blogpost.js"></script>